<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <table>
            <tr>
                <th>Room Type</th>
                <td>{{roomtype}}</td>
            </tr>
            <tr>
                <th>Total Rooms</th>
                <td>{{rooms}}</td>
            </tr>
            <tr>
                <th>Check-In</th>
                <td>{{checkin}}</td>
            </tr>
            <tr>
                <th>Check-Out</th>
                <td>{{checkout}}</td>
            </tr>
        </table>
    </body>
</html>