Dear {{name}}

Thanks again for choosing to spend time in Hyderabad with us! How was your stay at RadissonInn?

Your feedback is valuable and essential to us and future guests.

Please take a moment to share your experience : http://127.0.0.1:8000/feedback/

We're committed to addressing any issues that come up during the stay with us.
If you have any comments on how we can improve, please respond to this email directly or give us 
a call at +91 111-458-7896 

We hope that you'll join us again soon.

RadissonInn 
FOOTER IF NECESSARY...
